@import url(http://fonts.googleapis.com/css?family=Montserrat:300italic,400,700);

.document-header {
  position: fixed;
}

.document-body {
  margin-top: 64px;
}

.home-wrapper img {
	width: 100%;
	overflow: hidden;
}

.home-wrapper-text h1 {
    color: white;
    font-size: 50px;
    font-weight: bold;
}

.home-wrapper-text {
    position: absolute;
    left: 15%;
    bottom: 10%;
}


.team-section > h3 {
  padding-left: 3%;
}

.team-section {
  padding-top: 84px;
  margin-top: -84px;
}

.team-card-square.mdl-card {
  max-width: 250px;
  text-align: center;
  position: relative;
}

.team-card-square > .mdl-card__media {
  text-align: center;
  background: none;
}

.team-card-square > .mdl-card__media img {
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  float: none;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.navigation-bar {
  margin-top: 24px;
  position: fixed;
  float: left;
}

.navigation-bar a {
  margin-top: 5px;
  margin-bottom: 5px; 
}


.layout-transparent .mdl-layout__header,
.layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
  font-size: 20px;
}

.team-bio {
  padding: 5px 10px;
  text-align: left;
}

.team-pic {
  position: relative;
}

.team-socialmedia {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 20px;
}

/* On smaller screens */
@media (max-width: 1025px) {
    .navigation-bar {
      display:none;
    }
    .document-navigation {
      display:none;
    }
}

/* On larger screens */
@media only screen and (min-width: 480px) {
    .mdl-layout__drawer-button {
      display:none;
    }
}