{% extends "base.html" %}
{% block content %}

<div id="hero">
  <img src="static/img/team.jpg">
</div>
        
<div class="container">
  <div class="row mt centered">   
    <div class="col-lg-4">
      <i class="fa fa-heart fa-3x"></i>
        <h4>Inspire</h4>
    </div>        
    <div class="col-lg-4">
      <i class="fa fa-book fa-3x"></i>
      <h4>Educate</h4>
    </div>
    <div class="col-lg-4">
      <i class="fa fa-rocket fa-3x"></i>
      <h4>Launch</h4>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mt">
    <div class="col-lg-6 col-lg-offset-3 centered">
      <h3>COMPANIES</h3>
      <hr>
    </div>
  </div>
  <div class="row mt">
    <div class="col-lg-3">
      <div class="companies hvr-grow" style="background-image: url(static/img/companies/y-combinator.png)"></div>
    </div>
    <div class="col-lg-3">
      <div class="companies hvr-grow" style="background-image: url(static/img/companies/work-bench.png)"></div>
    </div>
    <div class="col-lg-3">
      <div class="companies hvr-grow" style="background-image: url(static/img/companies/union-square-ventures.png)"></div>
    </div>
    <div class="col-lg-3">
      <div class="companies hvr-grow" style="background-image: url(static/img/companies/dropbox.png)"></div>
    </div>
  </div>
  <div class="row mt">
    <div class="col-lg-3">
      <div class="companies hvr-grow" style="background-image: url(static/img/companies/bain-capital-ventures.png)"></div>
    </div>
    <div class="col-lg-3">
      <div class="companies hvr-grow" style="background-image: url(static/img/companies/tinypass.png)"></div>
    </div>
    <div class="col-lg-3">
      <div class="companies hvr-grow" style="background-image: url(static/img/companies/general-assembly.png)"></div>
    </div>
    <div class="col-lg-3">
      <div class="companies hvr-grow" style="background-image: url(static/img/companies/fundera.png)"></div>
    </div>
  </div>
</div>

{% endblock %}