{% extends "base.html" %}
{% block content %}

<div id="hero">
  <img src="static/img/team.jpg">
  <h1 id="title">We are Columbia's<br>student entrepreneurship club.</h1>
</div>

<div id="index-footer">
  <div class="container">
    <div class="row">
      <p>
        <a href="https://www.facebook.com/coreatcu" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
        <a href="http://twitter.com/ColumbiaEntrep" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
        <a href="http://instagram.com/coreatcu" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
      </p>            
    </div>
  </div>
</div>
{% endblock %}