{% extends "base.html" %}
{% block content %}

<div class="container pt">
  <div class="row mt">
    <div class="col-lg-6 col-lg-offset-3 centered">
      <h3>EXECUTIVE BOARD</h3>
      <hr>
    </div>
  </div>
  <div class="row mt">
    <div class="col-lg-3">
      <div class="people" style="background-image: url(static/img/people/anshul.jpg)"></div>
      <h4 class="centered">ANSHUL GUPTA</h4>
      <p class="centered" class="people"><a href="http://twitter.com/anshulkgupta"><i class="fa fa-twitter"></i> anshulkgupta</a></p>
    </div>
    <div class="col-lg-3">
      <div class="people" style="background-image: url(static/img/people/george.jpg)"></div>
      <h4 class="centered">GEORGE LIU</h4>
      <p class="centered" class="people"><a href="http://twitter.com/gxzliu"><i class="fa fa-twitter"></i> gxzliu</a></p>
    </div>
    <div class="col-lg-3">
      <div class="people" style="background-image: url(static/img/people/jackie.jpg)"></div>
      <h4 class="centered">JACKIE LUO</h4>
      <p class="centered" class="people"><a href="http://twitter.com/jackiehluo"><i class="fa fa-twitter"></i> jackiehluo</a></p>
    </div>
    <div class="col-lg-3">
      <div class="people" style="background-image: url(static/img/people/james.jpg)"></div>
      <h4 class="centered">JAMES XUE</h4>
      <p class="centered" class="people"><a href="http://twitter.com/therealjamesxue"><i class="fa fa-twitter"></i> therealjamesxue</a></p>
    </div>
  </div>
  <div class="row mt">
    <div class="col-lg-3">
      <div class="people" style="background-image: url(static/img/people/jamie.jpg)"></div>
      <h4 class="centered">JAMIE SONG</h4>
      <p class="centered" class="people"><a href="http://twitter.com/jamiejysong"><i class="fa fa-twitter"></i> jamiejysong</a></p>
    </div>
    <div class="col-lg-3">
      <div class="people" style="background-image: url(static/img/people/josh.jpg)"></div>
      <h4 class="centered">JOSH ZWEIG</h4>
      <p class="centered" class="people"><a href="http://twitter.com/original_jz"><i class="fa fa-twitter"></i> original_jz</a></p>
    </div>
    <div class="col-lg-3">
      <div class="people" style="background-image: url(static/img/people/kat.jpg)"></div>
      <h4 class="centered">KAT MOON</h4>
      <p class="centered" class="people"><a href="http://twitter.com/katxmoon"><i class="fa fa-twitter"></i> katxmoon</a></p>
    </div>
    <div class="col-lg-3">
      <div class="people" style="background-image: url(static/img/people/kimberly.jpg)"></div>
      <h4 class="centered">KIMBERLY HOU</h4>
      <p class="centered" class="people"><a href="http://twitter.com/kimberlyjhou"><i class="fa fa-twitter"></i> kimberlyjhou</a></p>
    </div>
  </div>
  <div class="row mt">
    <div class="col-lg-3">
      <div class="people" style="background-image: url(static/img/people/max.jpg)"></div>
      <h4 class="centered">MAX ROSENBERG</h4>
    </div>
    <div class="col-lg-3">
      <div class="people" style="background-image: url(static/img/people/meric.jpg)"></div>
      <h4 class="centered">MERIC ATESALP</h4>
      <p class="centered" class="people"><a href="http://twitter.com/mericatesalp"><i class="fa fa-twitter"></i> mericatesalp</a></p>
    </div>
    <div class="col-lg-3">
      <div class="people" style="background-image: url(static/img/people/michelle-t.jpg)"></div>
      <h4 class="centered">MICHELLE TAN</h4>
      <p class="centered" class="people"><a href="http://twitter.com/qiuyuntan"><i class="fa fa-twitter"></i> qiuyuntan</a></p>
    </div>
    <div class="col-lg-3">
      <div class="people" style="background-image: url(static/img/people/miranda.jpg)"></div>
      <h4 class="centered">MIRANDA LI</h4>
      <p class="centered" class="people"><a href="http://twitter.com/mirandajli"><i class="fa fa-twitter"></i> mirandajli</a></p>
    </div>
  </div>
  <div class="row mt">
    <div class="col-lg-6">
      <div class="people" style="background-image: url(static/img/people/sara.jpg)"></div>
      <h4 class="centered">SARA SAKOWITZ</h4>
      <p class="centered" class="people"><a href="http://twitter.com/sarasakowitz"><i class="fa fa-twitter"></i> sarasakowitz</a></p>
    </div>
    <div class="col-lg-6">
      <div class="people" style="background-image: url(static/img/people/simon.jpg)"></div>
      <h4 class="centered">SIMON SCHWARTZ</h4>
      <p class="centered" class="people"><a href="http://twitter.com/simonamschwartz"><i class="fa fa-twitter"></i> simonamschwartz</a></p>
    </div>
  </div>
  <div class="row mt">
    <div class="col-lg-6 col-lg-offset-3 centered">
      <h3>SENIOR ADVISORS</h3>
      <hr>
    </div>
  </div>
  <div class="row mt">
    <div class="col-lg-6">
      <div class="people" style="background-image: url(static/img/people/jiaying.jpg)"></div>
      <h4 class="centered">JIAYING LIM</h4>
    </div>
    <div class="col-lg-6">
      <div class="people" style="background-image: url(static/img/people/nik.jpg)"></div>
      <h4 class="centered">NIK NAYAR</h4>
      <p class="centered" class="people"><a href="http://twitter.com/nayaronfire"><i class="fa fa-twitter"></i> nayaronfire</a></p>
    </div>
  </div>
  <div class="row mt">
    <div class="col-lg-6 col-lg-offset-3 centered">
      <h3>OPERATING PARTNERS</h3>
      <hr>
    </div>
  </div>
  <div class="row mt">
    <div class="col-lg-3">
      <div class="people" style="background-image: url(static/img/people/ahmad.jpg)"></div>
      <h4 class="centered">AHMAD MARUF</h4>
    </div>
    <div class="col-lg-3">
      <div class="people" style="background-image: url(static/img/people/amal.jpg)"></div>
      <h4 class="centered">AMAL ABID</h4>
      <p class="centered" class="people"><a href="http://twitter.com/amalabid"><i class="fa fa-twitter"></i> amalabid</a></p>
    </div>
    <div class="col-lg-3">
      <div class="people" style="background-image: url(static/img/people/christy.jpg)"></div>
      <h4 class="centered">CHRISTY CHUNG</h4>
    </div>
    <div class="col-lg-3">
      <div class="people" style="background-image: url(static/img/people/erica.jpg)"></div>
      <h4 class="centered">ERICA CHAN</h4>
    </div>
  </div>
  <div class="row mt">
    <div class="col-lg-3">
      <div class="people" style="background-image: url(static/img/people/gary.jpg)"></div>
      <h4 class="centered">GARY LIN</h4>
    </div>
    <div class="col-lg-3">
      <div class="people" style="background-image: url(static/img/people/karen.jpg)"></div>
      <h4 class="centered">KAREN YUAN</h4>
      <p class="centered" class="people"><a href="http://twitter.com/karenyuan_"><i class="fa fa-twitter"></i> karenyuan_</a></p>
    </div>
    <div class="col-lg-3">
      <div class="people" style="background-image: url(static/img/people/kristina.jpg)"></div>
      <h4 class="centered">KRISTINA WALD</h4>
    </div>
    <div class="col-lg-3">
      <div class="people" style="background-image: url(static/img/people/mayank.jpg)"></div>
      <h4 class="centered">MAYANK MAHAJAN</h4>
      <p class="centered" class="people"><a href="http://twitter.com/mayanktho"><i class="fa fa-twitter"></i> mayanktho</a></p>
    </div>
  </div>
  <div class="row mt">
    <div class="col-lg-3">
      <div class="people" style="background-image: url(static/img/people/sahir.jpg)"></div>
      <h4 class="centered">SAHIR JAGGI</h4>
      <p class="centered" class="people"><a href="http://twitter.com/sahirjaggi"><i class="fa fa-twitter"></i> sahirjaggi</a></p>
    </div>
    <div class="col-lg-3">
      <div class="people" style="background-image: url(static/img/people/tony.jpg)"></div>
      <h4 class="centered">TONY LI</h4>
    </div>
    <div class="col-lg-3">
      <div class="people" style="background-image: url(static/img/people/victoria.jpg)"></div>
      <h4 class="centered">VICTORIA LEE</h4>
    </div>
    <div class="col-lg-3">
      <div class="people" style="background-image: url(static/img/people/zach.jpg)"></div>
      <h4 class="centered">ZACH GLEICHER</h4>
    </div>
  </div>
  <div class="row mt">
    <div class="col-lg-6 col-lg-offset-3 centered">
      <h3>OPERATING COMMITTEE LEADERS</h3>
      <hr>
    </div>
  </div>
  <div class="row mt">
    <div class="col-lg-6">
      <div class="people" style="background-image: url(static/img/people/abigail.jpg)"></div>
      <h4 class="centered">ABIGAIL KIM</h4>
      <p class="centered" class="people"><a href="http://twitter.com/abigail019"><i class="fa fa-twitter"></i> abigail019</a></p>
    </div>
    <div class="col-lg-6">
      <div class="people" style="background-image: url(static/img/people/michelle-z.jpg)"></div>
      <h4 class="centered">MICHELLE ZHENG</h4>
    </div>
  </div>
</div>

{% endblock %}