{% extends "base.html" %}
{% block content %}

  

    <!-- Previous Content -->

<div class="container pt"> 
  <div class="row mt">
    <div class="col-md-2">
     <nav id="sidebar">
        <h4>Team Members</h4>
        <ul class="nav bs-docs-sidenav">
            {% for division in team.team %}
              {% if loop.index == 1 %}
              <li class="active">
              {% else %}
              <li>
              {% endif %}
                <a href={{ "#" + division.type.replace(' ', '-').lower()}}> {{ division.type }} </a>
              </li>
            {% endfor %}
        </ul>
      </nav>
    </div>

    <div class="col-md-10">
      {% for division in team.team %}
        <div class="title centered">
          <h3>{{division.type}}</h3>
          <hr>
        </div>

        <div class="row mt">
          {% for person in division.names %}
          <div class="col-lg-3">
            <div class="people" style="background-image: url({{person.pic}})"></div>
            <h4 class="names">{{person.name}}
            </h4>
          </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}