{% extends "base.html" %}
{% block content %}

<div class="container pt">
  <div class="row mt">
    <div class="col-lg-6 col-lg-offset-3 centered">
      <h3>EXECUTIVE BOARD</h3>
      <hr>
    </div>
  </div>
  <div class="row mt">
    <div class="col-lg-3">
      <div class="people" style="background-image: url(static/img/people/anshul.jpg)"></div>
      <h4 class="names">ANSHUL GUPTA
        <span class="bios">
          SEAS '17, Computer Science.
        </span>
      </h4>
      <p class="centered"><a href="http://twitter.com/anshulkgupta"><i class="fa fa-twitter"></i> anshulkgupta</a></p>
    </div>
    <div class="col-lg-3">
      <div class="people" style="background-image: url(static/img/people/george.jpg)"></div>
      <h4 class="names">GEORGE LIU
        <span class="bios">
          CC '17, Economics.
        </span>
      </h4>
      <p class="centered"><a href="http://twitter.com/gxzliu"><i class="fa fa-twitter"></i> gxzliu</a></p>
    </div>
    <div class="col-lg-3">
      <div class="people" style="background-image: url(static/img/people/jackie.jpg)"></div>
      <h4 class="names">JACKIE LUO
        <span class="bios">
          CC '17, Computer Science and Philosophy.
        </span>
      </h4>
      <p class="centered"><a href="http://twitter.com/jackiehluo"><i class="fa fa-twitter"></i> jackiehluo</a></p>
    </div>
    <div class="col-lg-3">
      <div class="people" style="background-image: url(static/img/people/james.jpg)"></div>
      <h4 class="names">JAMES XUE
        <span class="bios">
          Editor-in-Chief of Impulse<br>
          SEAS '17, Computer Science.
        </span>
      </h4>
      <p class="centered"><a href="http://twitter.com/therealjamesxue"><i class="fa fa-twitter"></i> therealjamesxue</a></p>
    </div>
  </div>
  <div class="row mt">
    <div class="col-lg-3">
      <div class="people" style="background-image: url(static/img/people/jamie.jpg)"></div>
      <h4 class="names">JAMIE SONG
        <span class="bios">
          Secretary<br>
          SEAS '17, Computer Science.
        </span>
      </h4>
      <p class="centered"><a href="http://twitter.com/jamiejysong"><i class="fa fa-twitter"></i> jamiejysong</a></p>
    </div>
    <div class="col-lg-3">
      <div class="people" style="background-image: url(static/img/people/josh.jpg)"></div>
      <h4 class="names">JOSH ZWEIG
        <span class="bios">
          SEAS '18, Computer Science.
        </span>
      </h4>
      <p class="centered"><a href="http://twitter.com/original_jz"><i class="fa fa-twitter"></i> original_jz</a></p>
    </div>
    <div class="col-lg-3">
      <div class="people" style="background-image: url(static/img/people/kat.jpg)"></div>
      <h4 class="names">KAT MOON
        <span class="bios">
          CC '17, Creative Writing.
        </span>
      </h4>
      <p class="centered"><a href="http://twitter.com/katxmoon"><i class="fa fa-twitter"></i> katxmoon</a></p>
    </div>
    <div class="col-lg-3">
      <div class="people" style="background-image: url(static/img/people/kimberly.jpg)"></div>
      <h4 class="names">KIMBERLY HOU
        <span class="bios">
          Vice President<br>
          CC '16, Neuroscience.
        </span>
      </h4>
      <p class="centered"><a href="http://twitter.com/kimberlyjhou"><i class="fa fa-twitter"></i> kimberlyjhou</a></p>
    </div>
  </div>
  <div class="row mt">
    <div class="col-lg-3">
      <div class="people" style="background-image: url(static/img/people/max.jpg)"></div>
      <h4 class="names">MAX ROSENBERG
        <span class="bios">
          Treasurer<br>
          CC '18, Economics.
        </span>
      </h4>
    </div>
    <div class="col-lg-3">
      <div class="people" style="background-image: url(static/img/people/meric.jpg)"></div>
      <h4 class="names">MERIC ATESALP
        <span class="bios">
          CC '16, Neuroscience.
        </span>
      </h4>
      <p class="centered"><a href="http://twitter.com/mericatesalp"><i class="fa fa-twitter"></i> mericatesalp</a></p>
    </div>
    <div class="col-lg-3">
      <div class="people" style="background-image: url(static/img/people/michelle-t.jpg)"></div>
      <h4 class="names">MICHELLE TAN
        <span class="bios">
          CC '16, Economics and History.
        </span>
      </h4>
      <p class="centered"><a href="http://twitter.com/qiuyuntan"><i class="fa fa-twitter"></i> qiuyuntan</a></p>
    </div>
    <div class="col-lg-3">
      <div class="people" style="background-image: url(static/img/people/miranda.jpg)"></div>
      <h4 class="names">MIRANDA LI
        <span class="bios">
          CC '17, Computer Science and Economics-Philosophy.
        </span>
      </h4>
      <p class="centered"><a href="http://twitter.com/mirandajli"><i class="fa fa-twitter"></i> mirandajli</a></p>
    </div>
  </div>
  <div class="row mt">
    <div class="col-lg-6">
      <div class="people" style="background-image: url(static/img/people/sara.jpg)"></div>
      <h4 class="names">SARA SAKOWITZ
        <span class="bios">
          CC '18, Biochemistry.
        </span>
      </h4>
      <p class="centered"><a href="http://twitter.com/sarasakowitz"><i class="fa fa-twitter"></i> sarasakowitz</a></p>
    </div>
    <div class="col-lg-6">
      <div class="people" style="background-image: url(static/img/people/simon.jpg)"></div>
      <h4 class="names">SIMON SCHWARTZ
        <span class="bios">
          President<br>
          CC '17, Archaeology and Economics-Political Science.
        </span>
      </h4>
      <p class="centered"><a href="http://twitter.com/simonamschwartz"><i class="fa fa-twitter"></i> simonamschwartz</a></p>
    </div>
  </div>
  <div class="row mt">
    <div class="col-lg-6 col-lg-offset-3 centered">
      <h3>SENIOR ADVISORS</h3>
      <hr>
    </div>
  </div>
  <div class="row mt">
    <div class="col-lg-4">
      <div class="people" style="background-image: url(static/img/people/connie.jpg)"></div>
      <h4 class="names">CONNIE LONG
        <span class="bios">
          CC '16, Art History and Economics.
        </span>
      </h4>
    </div>
    <div class="col-lg-4">
      <div class="people" style="background-image: url(static/img/people/jiaying.jpg)"></div>
      <h4 class="names">JIAYING LIM
        <span class="bios">
          CC '17, Economics-Political Science.
        </span>
      </h4>
    </div>
    <div class="col-lg-4">
      <div class="people" style="background-image: url(static/img/people/nik.jpg)"></div>
      <h4 class="names">NIK NAYAR
        <span class="bios">
          CC '16, Computer Science and Economics.
        </span>
      </h4>
      <p class="centered"><a href="http://twitter.com/nayaronfire"><i class="fa fa-twitter"></i> nayaronfire</a></p>
    </div>
  </div>
  <div class="row mt">
    <div class="col-lg-6 col-lg-offset-3 centered">
      <h3>OPERATING PARTNERS</h3>
      <hr>
    </div>
  </div>
  <div class="row mt">
    <div class="col-lg-3">
      <div class="people" style="background-image: url(static/img/people/ahmad.jpg)"></div>
      <h4 class="names">AHMAD MARUF
        <span class="bios">
          CC '16, Computer Science.
        </span>
      </h4>
    </div>
    <div class="col-lg-3">
      <div class="people" style="background-image: url(static/img/people/amal.jpg)"></div>
      <h4 class="names">AMAL ABID
        <span class="bios">
          CC '17, Computer Science.
        </span>
      </h4>
      <p class="centered"><a href="http://twitter.com/amalabid"><i class="fa fa-twitter"></i> amalabid</a></p>
    </div>
    <div class="col-lg-3">
      <div class="people" style="background-image: url(static/img/people/christy.jpg)"></div>
      <h4 class="names">CHRISTY CHUNG
        <span class="bios">
          CC '17, Economics.
        </span>
      </h4>
    </div>
    <div class="col-lg-3">
      <div class="people" style="background-image: url(static/img/people/erica.jpg)"></div>
      <h4 class="names">ERICA CHAN
        <span class="bios">
          CC '17, Computer Science.
        </span>
      </h4>
    </div>
  </div>
  <div class="row mt">
    <div class="col-lg-3">
      <div class="people" style="background-image: url(static/img/people/gary.jpg)"></div>
      <h4 class="names">GARY LIN
        <span class="bios">
          SEAS '17, Computer Science.
        </span>
      </h4>
    </div>
    <div class="col-lg-3">
      <div class="people" style="background-image: url(static/img/people/karen.jpg)"></div>
      <h4 class="names">KAREN YUAN
        <span class="bios">
          CC '16, Creative Writing.
        </span>
      </h4>
      <p class="centered"><a href="http://twitter.com/karenyuan_"><i class="fa fa-twitter"></i> karenyuan_</a></p>
    </div>
    <div class="col-lg-3">
      <div class="people" style="background-image: url(static/img/people/kristina.jpg)"></div>
      <h4 class="names">KRISTINA WALD
        <span class="bios">
          CC '16, Economics and Psychology.
        </span>
      </h4>
    </div>
    <div class="col-lg-3">
      <div class="people" style="background-image: url(static/img/people/mayank.jpg)"></div>
      <h4 class="names">MAYANK MAHAJAN
        <span class="bios">
          SEAS '17, Computer Science.
        </span>
      </h4>
      <p class="centered"><a href="http://twitter.com/mayanktho"><i class="fa fa-twitter"></i> mayanktho</a></p>
    </div>
  </div>
  <div class="row mt">
    <div class="col-lg-3">
      <div class="people" style="background-image: url(static/img/people/sahir.jpg)"></div>
      <h4 class="names">SAHIR JAGGI
        <span class="bios">
          SEAS '17, Mechanical Engineering.
        </span>
      </h4>
      <p class="centered"><a href="http://twitter.com/sahirjaggi"><i class="fa fa-twitter"></i> sahirjaggi</a></p>
    </div>
    <div class="col-lg-3">
      <div class="people" style="background-image: url(static/img/people/tony.jpg)"></div>
      <h4 class="names">TONY LI
        <span class="bios">
          CC '18, Computer Science.
        </span>
      </h4>
    </div>
    <div class="col-lg-3">
      <div class="people" style="background-image: url(static/img/people/victoria.jpg)"></div>
      <h4 class="names">VICTORIA LEE
        <span class="bios">
          SEAS '17, Computer Science.
        </span>
      </h4>
    </div>
    <div class="col-lg-3">
      <div class="people" style="background-image: url(static/img/people/zach.jpg)"></div>
      <h4 class="names">ZACH GLEICHER
        <span class="bios">
          CC '16, Computer Science.
        </span>
      </h4>
    </div>
  </div>
  <div class="row mt">
    <div class="col-lg-6 col-lg-offset-3 centered">
      <h3>OPERATING COMMITTEE LEADERS</h3>
      <hr>
    </div>
  </div>
  <div class="row mt">
    <div class="col-lg-6">
      <div class="people" style="background-image: url(static/img/people/abigail.jpg)"></div>
      <h4 class="names">ABIGAIL KIM
        <span class="bios">
          BC '16, Art History.
        </span>
      </h4>
      <p class="centered"><a href="http://twitter.com/abigail019"><i class="fa fa-twitter"></i> abigail019</a></p>
    </div>
    <div class="col-lg-6">
      <div class="people" style="background-image: url(static/img/people/michelle-z.jpg)"></div>
      <h4 class="names">MICHELLE ZHENG
        <span class="bios">
          CC '16, Computer Science and Economics.
        </span>
      </h4>
    </div>
  </div>
</div>

{% endblock %}